*.o
aclocal.m4
autoconf.hh
autoconf.hh.in
autoconf.mk
autom4te.cache
config.guess
config.log
config.rpath
config.status
config.sub
configure
doc/*.1
doc/po/*.1
doc/po/*.xml
m4/*.m4
paths.hh
pdf2djvu
po/*.mo
po/*.pot
secret/*
tests/*.djvu
tests/*.jpeg
tests/*.log
tests/*.pdf
tests/*.png
tests/*.py[co]
tests/*.stamp
tools/config.*
tools/install-sh
win32/bin
win32/dcache
win32/dist
win32/etc
win32/include
win32/lib
win32/share
win32/src
