#include <winver.h>
#include "version.hh"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 0,5,10,0
    PRODUCTVERSION 0,5,10,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "04090000"
        BEGIN
            VALUE "ProductName", PACKAGE_STRING
            VALUE "FileDescription", "PDF to DjVu converter\0"
            VALUE "FileVersion", PACKAGE_VERSION
            VALUE "LegalCopyright", "Copyright © 2007, 2008, 2009 Jakub Wilk\0"
            VALUE "Comments", "This package is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; version 2 dated June, 1991.\0"
        END
    END
END
