Source: pdf2djvu
Section: text
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Bugs: mailto:ubanus@users.sf.net
Build-Depends: debhelper (>= 7), libpoppler-dev (>= 0.7.3), libdjvulibre-dev (>= 3.5.20-5), djvulibre-bin (>= 3.5.20-5), libpstreams-dev, libgraphicsmagick++1-dev, libxslt1-dev | libxslt-dev
Standards-Version: 3.8.2
Homepage: http://pdf2djvu.googlecode.com/
Vcs-Svn: http://pdf2djvu.googlecode.com/svn/trunk
Vcs-Browser: http://code.google.com/p/pdf2djvu/source/browse

Package: pdf2djvu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, djvulibre-bin (>= 3.5.20-5)
Description: PDF to DjVu converter
 pdf2djvu creates DjVu files from PDF files. It's able to extract:
 graphics, text layer, hyperlinks, document outline (bookmarks), and
 metadata.
